<!-- Side Menu
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
<a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
<li class="sidebar-brand"><a href="http://startbootstrap.com">Menu</a>
</li>
<li><a href="#top">Home</a>
</li>
<li><a href="#about">About</a>
</li>
<li><a href="#services">Services</a>
</li>
<li><a href="#portfolio">Portfolio</a>
</li>
<li><a href="#contact">Contact</a>
</li>
</ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
	<div class="vert-text">
		<h1>CodeJump</h1>
		<h3>
			<em>We</em> Build Great Apps,
			<em>You</em> we will do for you</h3>
			<a href="#about" class="btn btn-default btn-lg">See more</a>
		</div>
	</div>
	<!-- /Full Page Image Header Area -->

	<!-- Intro -->
	<div id="about" class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<p class="lead">Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra. Nulla a libero metus. Integer gravida tempor metus eget condimentum.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /Intro -->

	<!-- Services -->
	<div id="services" class="services">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>Our Services</h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2 text-center">
					<div class="service-item">
						<i class="service-icon fa fa-rocket"></i>
						<h4>Spacecraft Repair</h4>
						<p>Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!</p>
					</div>
				</div>
				<div class="col-md-2 text-center">
					<div class="service-item">
						<i class="service-icon fa fa-magnet"></i>
						<h4>Problem Solving</h4>
						<p>Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.</p>
					</div>
				</div>
				<div class="col-md-2 text-center">
					<div class="service-item">
						<i class="service-icon fa fa-shield"></i>
						<h4>Blacksmithing</h4>
						<p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
					</div>
				</div>
				<div class="col-md-2 text-center">
					<div class="service-item">
						<i class="service-icon fa fa-pencil"></i>
						<h4>Pencil Sharpening</h4>
						<p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Services -->

	<!-- Callout -->
	<div class="callout">
		<div class="vert-text">
			<h1>A Dramatic Text Area</h1>
		</div>
	</div>
	<!-- /Callout -->

	<!-- Portfolio -->
	<div id="portfolio" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>Our Work</h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2 text-center">
					<div class="portfolio-item">
						<a href="#">
							<img class="img-portfolio img-responsive" src="assets/portfolio-1.jpg">
						</a>
						<h4>Cityscape</h4>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="portfolio-item">
						<a href="#">
							<img class="img-portfolio img-responsive" src="/assets/portfolio-2.jpg">
						</a>
						<h4>Is That On Fire?</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2 text-center">
					<div class="portfolio-item">
						<a href="#">
							<img class="img-portfolio img-responsive" src="assets/portfolio-3.jpg">
						</a>
						<h4>Stop Sign</h4>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="portfolio-item">
						<a href="#">
							<img class="img-portfolio img-responsive" src="assets/portfolio-4.jpg">
						</a>
						<h4>Narrow Focus</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Portfolio -->

	<!-- Call to Action -->
	<div class="team">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<h2>Team</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<h2></h2>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 ">
			<div class="grater-container grater">
				<div>
					<h2>Developer</h2>
					<p>Nothing Magical is just a one man show. Sam designs and develops all of the Nothing Magical products.</p>
					<p>Follow <a href="https://twitter.com/soffes" rel="external nofollow">@soffes</a> on Twitter.</p>
				</div>
				<div>
					<a href="http://soff.es" rel="external nofollow" class="headshot">
						<img alt="Sam Soffes" class="photo" src="/assets/soffes.png">
						<span class="name">Felipe Calderon</span>
					</a>
				</div>
			</div>
		</div>
		 <div class="col-md-4 col-md-offset-1">
			<div class="grater-container grater">
				<div>
					<h2>Designer</h2>
					<p>Nothing Magical is just a one man show. Sam designs and develops all of the Nothing Magical products.</p>
					<p>Follow <a href="https://twitter.com/soffes" rel="external nofollow">@soffes</a> on Twitter.</p>
				</div>
				<div>
					<a href="http://soff.es" rel="external nofollow" class="headshot">
						<img alt="Sam Soffes" class="photo" src="/assets/soffes.png">
						<span class="name">Julian</span>
					</a>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- /Call to Action -->