<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CodeJump</title>
  <link rel="author" href="humans.txt">
  <!-- Bootstrap core CSS -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="/assets/bootstrap.css" rel="stylesheet">
  <!-- Add custom CSS here -->
  <link href="/assets/stylish-portfolio.css" rel="stylesheet" type="text/css">
  <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <header>
  </header>
  <%= yield %>
  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <ul class="list-inline">
                      <li><i class="fa fa-facebook fa-3x"></i>
                      </li>
                      <li><i class="fa fa-twitter fa-3x"></i>
                      </li>
                      <li><i class="fa fa-dribbble fa-3x"></i>
                      </li>
                  </ul>
                  <div class="top-scroll">
                      <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                  </div>
                  <hr>
                  <p>Copyright &copy; CodeJump 2014</p>
              </div>
          </div>
      </div>
  </footer>
  <!-- /Footer -->
  <!-- JavaScript -->
  <script src="/assets/jquery-1.10.2.js"></script>
  <script src="/assets/bootstrap.js"></script>

  <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
  <script>
  $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
  </script>
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
  </script>
  <script>
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
  </script>
</body>
</html>
