/* Global Styles */

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.vert-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	color: #ffffff;

}

.vert-text-header {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	background: url(../assets/game.png) no-repeat right;
	color: #ffffff;

}

.vert-text-medium {
	vertical-align: middle;
	margin-top: 80px;
	color: #6aac0a;
}

.vert-text-medium h1 {
	padding: 0;
	margin: 0;
	font-size: 3.8em;
	font-weight: 700;
}

.vert-text h1 {
	padding: 0;
	margin: 0;
	font-size: 4.5em;
	font-weight: 700;
}

.Roboto-normal-300 {
	font-family: 'Roboto' !important;
	font-style: normal;
	font-weight: 300;
}

.Roboto-italic-800 {
	font-family: 'Roboto' !important;
	font-style: italic;
	font-size: 3.8em;
	font-weight: 100;
}

.Roboto-italic-700 {
	font-family: 'Roboto' !important;
	font-style: italic;
	font-size: 3.5em;
	font-weight: 700;
}

.Roboto-italic-100 {
	font-family: 'Roboto' !important;
	font-style: italic;
	font-weight: 100;
}

.inputbox{
	width: 100%;
	border: none;
	padding: 0.8em 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.375em;
	color:#598700;
	background-size: 100% 100%;
	background-color: rgba(255, 255, 255, 1.0);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	resize: none;
}

/* Side Menu */

#sidebar-wrapper {
	margin-right: -250px;
	right: 0;
	width: 250px;
	background: #000;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 55px;
	line-height: 55px;
	font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	top: 0;
	right: 0;
	position: fixed;
	z-index: 1;
}

#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../assets/header_home.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Intro */

.intro {
	padding: 50px 0;
	background: url(../assets/android.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Services */

.services {
	background: #6aac0a;
	padding: 50px 0;
	color: #fff;
}

.lead{
	padding: 10px;
	background-color: rgba(0,0,0,.3);
	color: #ffffff;
	margin-top:-10px;
}

.team {
	background: #6aac0a;
	padding: 50px 0;
	color: #ffffff;
	vertical-align: baseline;
}

.about-title{
	padding: 20px 0;
	background-color: rgba(0,0,0,.3);
	color: #ffffff;
}


a.headshot {

	text-align: center;
	width: 190px;
	margin: 0 auto;
	text-decoration: none;
	border-bottom: 1px transparent solid;
}

.photo {
	width: 190px;
	height: 190px;
	display: block;
	background: asset-url("soffes.png") no-repeat;
	background-size: 190px 190px;
	margin: 0 auto 1em;
	text-decoration: none;
}

span.name {
	display: block;
	color: #ffffff;
	border:0;
	text-decoration: none;
}

.divider{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #333;
}

.grater-container {
	width: 600px;
	margin: 0 auto; }
	@media all and (max-width: 660px) {
		.grater-container {
			width: 300px; } }

			.grater {
				zoom: 1; }
				.grater > div {
					width: 300px;
					margin: 0 0 2em; }
					.grater > div:first-child {
						float: left; }
						.grater > div:last-child {
							float: right; }
							.grater.reverse > div:first-child {
								float: right; }
								.grater.reverse > div:last-child {
									float: left; }
									.grater:before, .grater:after {
										content: "";
										display: table; }
										.grater:after {
											clear: both; }
											@media all and (max-width: 660px) {
												.grater {
													margin-bottom: 1em; }
													.grater > div {
														float: none !important;
														margin: 0 auto 2em; } }



														.service-item {
															margin-bottom: 15px;
														}

														i.service-icon {
															border: 3px solid #ffffff;
															border-radius: 50%;
															display: inline-block;
															font-size: 56px;
															width: 140px;
															height: 140px;
															line-height: 136px;
															vertical-align: middle;
															text-align: center;
														}

														/* Callout */

														.callout {
															color: #333;
															display: table;
															height: 400px;
															width: 100%;
															background: url(../assets/callout.png) no-repeat center center fixed;
															-webkit-background-size: cover;
															-moz-background-size: cover;
															-o-background-size: cover;
															background-size: cover;
														}

														/* Portfolio */

														.portfolio {
															padding: 50px 0;
															background: url(../assets/portafolio.png) no-repeat center center fixed;
														}

														.portfolio-item {
															margin-bottom: 25px;
														}

														.img-portfolio {
															margin: 0 auto;
														}


														/* Call to Action */

														.call-to-action {
															color: #ffffff;
															background: #0a5175;
															padding: 50px 0;
														}

														.call-to-action .btn {
															margin: 10px;
														}

														/* Map */

														.map {
															height: 500px;
															background: #fcfbe3;
														}

														/* Footer */

														footer {
															padding: 100px 0;
															background: #6aac0a;
															color: #ffffff;

														}

														.top-scroll {
															margin-top: 50px;
														}

														.top-scroll a {
															text-decoration: none;
															color: inherit;
														}

														i.scroll {
															color: #333333;
														}

														i.scroll:hover {
															color: #0a5175;
														}
														/* Responsive */

														@media (max-width: 768px) {

															.header {
																background: url(../assets/header_home.png) no-repeat center center scroll;
															}

															.callout {
																background: url(../assets/callout.png) no-repeat center center scroll;
															}

															.map {
																height: 75%;
															}

														}
